
    
.c-menu-bottom {
  display: flex;
  justify-content: center;
  margin: 24px;
  flex-wrap: wrap;

  &__link {
    font-size: 24px;
    text-decoration: none;
    font-family: Arial;
    text-transform: none;
    margin: 24px;
    padding: 24px;
    color: floralwhite;
    background-color: rgba(255, 255, 255, 0.1);
    min-width: 24rem;
    text-align: center
  }
}
