.c-amiibo-gallery__item-container {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-amiibo-gallery__item {
  height: 35rem;
  margin: 64px auto;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.c-amiibo-gallery__img {
  max-height: 100%;
}

.c-amiibo-gallery__caption {
  font-size: 24px;
  margin-top: 16px;
  font-family: "Arial";
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.1);
}

.c-amiibo-gallery__love-it {
  position: absolute;
}
/*# sourceMappingURL=AmiibosGallery.css.map */