

.c-amiibo-gallery {
  &__item-container {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
    
    &__item-container{
      text-decoration: none;
      
     

      &:hover {
        .c-amiibo-gallery__img {
          transform: rotate(340deg);
        }
      }
    }
    

  }

  &__item {
    height: 35rem;
    margin: 64px auto;
    text-align: center;
    cursor: pointer;
    position: relative;
    
    
  }

  &__img {

    height: 26rem;
    max-width: 100%;

  }

  &__caption {
    font-size: 24px;
    margin-top: 16px;
    font-family: "Arial";
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    color: wheat;
    border: 1px solid lightgreen;
    
    
  }


}
