.c-backgroundImg {
    display: flex;
    min-width: 100%;
    margin: 0%;
    padding: 0px;
    min-height: 42rem;
    background-image: url(../../Shared/assets/img/amiibo-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    background-position: center center;
    .c-title {
        display: flex;
        flex-direction: column;
        margin-top: -10px;
        text-align: center;
        & h2{
          font-size: 20px;
          font-family: Montserrat;
          font-weight: bold;
        }
        & p{
          font-family: Montserrat;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0;
          width: 80%;
          margin: auto;
        }
  
}
}



// .carousel {
//   margin-left: auto;
//   margin-right: auto;
//   width: 232pt;
// }

// .lines {
//   line-height: 28px;
//   font-size: 1.9rem;
// }
// .title {
//   margin-top: 40pt;
// }