.c-gameSeries-gallery__item {
  margin: 32px auto;
  text-align: center;
  cursor: pointer;
}

.c-gameSeries-gallery__caption {
  color: #FFFFFF;
  border: 1px solid lightgreen;
  font-size: 24px;
  margin: 30px;
  font-family: "Arial";
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.1);
}
/*# sourceMappingURL=TextList.css.map */