.c-form {

    padding: 50px;
    padding-top: 20px;

    &__title {
        display: flex;
        border-bottom: 1px solid lightgreen;
        padding-bottom: 1px;
        margin-bottom: 10px;
    }
}

form {
    width: 50%;
}

form label {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

form input {

    width: 80%;
    padding: 5px;
}

form button {
    display: flex;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: lightgreen;
    cursor: pointer;
    color: black;
    border-radius: 10px;
}

